<main class="todo-container">
    <div class="todo-item todo-header">
      <div class="checkbox-container">
        <input type="checkbox" name="checkbox" id="checkbox">
        <label for="checkbox">Checkbox</label>
      </div>
      <div class="input-container">
        <label for="input-todo">Create a new todo</label>
        <input type="text" id="input-todo" placeholder="Create a new todo..">
      </div>
    </div>
    <ul class="todo-list">
      <li class="todo-item">
        <div class="checkbox-container">
          <input type="checkbox" name="checkbox" id="checkbox">
          <label for="checkbox">Checkbox</label>
        </div>
        <span class="todo-text">Complete online JavaScript course</span>
        <button class="btn btn-sr btn-close">Close</button>
      </li>
      <li class="todo-item">
        <div class="checkbox-container">
          <input type="checkbox" name="checkbox" id="checkbox">
          <label for="checkbox">Checkbox</label>
        </div>
        <span class="todo-text">Complete online JavaScript course</span>
        <button class="btn btn-sr btn-close">Close</button>
      </li>
      <li class="todo-item">
        <div class="checkbox-container">
          <input type="checkbox" name="checkbox" id="checkbox">
          <label for="checkbox">Checkbox</label>
        </div>
        <span class="todo-text">Complete online JavaScript course</span>
        <button class="btn btn-sr btn-close">Close</button>
      </li>
      <li class="todo-item">
        <div class="checkbox-container">
          <input type="checkbox" name="checkbox" id="checkbox">
          <label for="checkbox">Checkbox</label>
        </div>
        <span class="todo-text">Complete online JavaScript course</span>
        <button class="btn btn-sr btn-close">Close</button>
      </li>
      <li class="todo-item todo-item-action">
        <span class="todo-text">5 items left</span>
        <button class="btn btn-text btn-clear">Clear Completed</button>
      </li>
    </ul>
    <div class="todo-item todo-footer">
      <button class="btn btn-text btn-control">
        All
       </button>
       <button class="btn btn-text btn-control">
        Active
       </button>
       <button class="btn btn-text btn-control">
        Completed
       </button>
    </div>
  </main>